* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083B4C;
}

.container {
    margin: 0 auto;
    width: 80vh;
}

.container h1 {
    text-align: center;
    color: white;
    font-size: 5rem;
    padding-top: 2rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.square {}